@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Paytone+One&display=swap');

.admin-page-container {
    min-height: 61vh;
    text-align: center;
}
.admin-page-container h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.75em;
}
.admin-page-container select {
    padding: 0.25rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.05em;
}

#table-data {
    display: flex;
    justify-content: center;
}
.admin-page-table {
    color: #EFEFF1;
    margin-top: 2rem;
}
.admin-page-table th {
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: 1px solid #EFEFF1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.admin-page-table td {
    padding-left: 1rem;
    padding-right: 1rem;
}