.home-page-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 1000px;
}


/* Carousel Styling */
.carousel-img-home {
    width: 100%;
    height: 20%;
    opacity: 0.7;
}
.carousel-search-section {
    position: absolute;
    width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -6.5rem;
}
.carousel-header {
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    margin-top: -3.5rem;
    font-family: 'Paytone One', sans-serif;
    text-shadow:
            -1px -1px 0 #141414,
            1px -1px 0 #141414,
            -1px 1px 0 #141414,
            1px 1px 0 #141414;
}
.search-bar-carousel {
    outline: none;
    border: none;
    background-color: #141414;
    color: #EFEFF1;
    width: 300px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-size: 0.97em;
}
.search-bar-carousel:hover {
    border: 1px solid #EFEFF1;
}
.search-bar-carousel:focus {
    border: 1px solid #EFEFF1;
}
.search-bar-carousel::placeholder{
    color: #EFEFF1;

}
.search-bar-carousel::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.search-icon-carousel {
    outline: none;
    border: none;
    background-color: #141414;
    padding: 0.5rem 0.85rem 0.5rem 0.85rem;
    border-radius: 10px;
    margin-left: 0.25rem;
    transition: 0.1s ease-in-out;
    font-size: 0.95rem;
}
.search-icon-carousel:hover {
    border: 1px solid #EFEFF1;
    background-color: #141414;
}
.search-icon-carousel:focus {
    border: 1px solid #EFEFF1;
    background-color: #141414;
}
.search-icon-carousel i {
   color: #EFEFF1;
}


@media only screen and (max-width: 1400px) {
    .home-page-container {
        min-width: 65%;
    }
}
@media only screen and (max-width: 1325px) {
    .home-page-container {
        min-width: 75%;
    }
}
@media only screen and (max-width: 1050px) {
    .home-page-container {
        min-width: 90%;
    }
}
@media only screen and (max-width: 954px) {
    .carousel-header {
        position: relative;
        font-size: 2.5em;
        margin-top: -2.5rem;
    }
    .search-bar-carousel {
        width: 200px;
        padding: 0.5rem 1rem 0.5rem 1rem;
        font-size: 0.75rem;
    }
}
@media only screen and (max-width: 800px) {
    .home-page-container {
        min-width: 100%;
    }
    .carousel-header {
        position: relative;
        font-size: 2em;
        margin-top: -2.5rem;
    }
}
@media only screen and (max-width: 800px) {
    .carousel-header {
        position: relative;
        font-size: 2em;
        margin-top: -5.5rem;
    }
}