@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Paytone+One&display=swap');

body {
    background-color: #141414;
    color: #EFEFF1;
}

.container {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.container:first-of-type {
    margin-bottom: 2rem;
}


/* Carousel Styling */
.carousel-img-home {
    width: 100%;
    height: 650px;
    opacity: 0.85;
}
.carousel-search-section {
    position: absolute;
    width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -6.5rem;
}
.carousel-header {
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    margin-top: -14.5rem;
    font-family: 'Paytone One', sans-serif;
    text-shadow:
            -1px -1px 0 #141414,
            1px -1px 0 #141414,
            -1px 1px 0 #141414,
            1px 1px 0 #141414;
}
.search-bar-carousel {
    outline: none;
    border: none;
    background-color: #141414;
    color: #EFEFF1;
    width: 300px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95rem;
}
.search-bar-carousel:hover {
    border: 1px solid #EFEFF1;
}
.search-bar-carousel:focus {
    border: 1px solid #EFEFF1;
}
.search-bar-carousel::placeholder{
    color: #EFEFF1;

}
.search-bar-carousel::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.search-icon-carousel {
    outline: none;
    border: none;
    background-color: #141414;
    padding: 0.5rem 0.85rem 0.5rem 0.85rem;
    border-radius: 10px;
    margin-left: 0.25rem;
    transition: 0.1s ease-in-out;
    font-size: 0.95rem;
}
.search-icon-carousel:hover {
    border: 1px solid #EFEFF1;
    background-color: #141414;
}
.search-icon-carousel:focus {
    border: 1px solid #EFEFF1;
    background-color: #141414;
}