.navbar-color {
    background-color: #FFFAFA;
    color: #141414;
}
.navbar-container {
    font-family: 'Open Sans', sans-serif;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.nav-title {
    font-family: 'Exo', sans-serif;
    font-size: 2.25em;
    font-weight: bold;
    margin-left: 1.5rem;
    line-height: 0;
}
.nav-button {
    width: 90px;
    margin-left: .75rem;
}
.nav-button2 {
    width: 90px;
}
.navbar-light .navbar-nav .nav-link {
    color: #141414;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #141414;
}

/* Mobile Styling */
@media only screen and (max-width: 600px) {
    .navbar-container {
        margin-left: 0;
        margin-right: 0;
    }
    .nav-title {
        margin-left: 0;
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 991px) {
    .nav-item {
        margin-top: 0.5rem;
        text-align: right;
    }
    .navbar-nav {
        flex-direction: row-reverse;
    }
}