/* Search Container */
.search-container {
    background-image: url('../imgs/search-background.jpg');
    /*background-color: red;*/
    position: relative;
    height: 100px;

    width: 100vw;
    left: 50%;
    right: 50%;
    margin: 2rem -50vw 2rem -50vw;
    border-top: 2px solid #B0B2B8;
    border-bottom: 2px solid #B0B2B8;
}
.search-container .search-together {
    width: 80%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}
.search-container .search-bar {
    width: 80%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    vertical-align: middle;
}
.search-container .search-bar::placeholder {
    color: #000000;
}
.search-container .search-bar::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.search-container .search-icon {
    font-family: 'Roboto', sans-serif;
    color: #EFEFF1;
    font-size: 1.2rem;
    height: 50px;
    background-color: #DB162F;
    border: none;
    border-radius: 10px;
    padding: 0 1.5rem 0 1.5rem;
    margin: 0;
    vertical-align: middle;
    transition: 0.3s;
}
.search-container .search-icon:hover {
    background-color: #CC142D;
    opacity: 0.85;
}


/* Result Container */
.search-results-container {
    margin-bottom: 4rem;
}
.search-results-container h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.25em;
    margin-bottom: 1rem;
}


/* Card Container */
.card-container {
    background-color: #1F1F1F;
    margin-bottom: 1.25rem;
    transition: 0.5s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
}
.card-container:hover {
    transform: scale(1.01);
}
.col-md-4 {
    padding-right: 0;
}
.col-md-4 .card-img-top {
    height: 250px;
}

.col-md-8 {
    padding-left: 0;
}

.col-md-8 .card-body-search {
    height: 250px;
    color: #D0CFD2;
}
.card-title-search {
    font-size: 1.5em;
    font-weight: 600;
}
.card-subtitle-search {
    font-size: 1.2em;
}
.card-text-icons {
    font-size: 1.1em;
    margin: 0.25rem 0 0.25rem 0;
}
.card-text-search {
    font-size: 0.95em;
}


/*Scroll bar styling for all browsers*/

/*Chrome, Edge, and Safari*/
.card-container::-webkit-scrollbar {
    width: .75rem;

}
.card-container::-webkit-scrollbar-track {
    background-color: #141414;
}
.card-container::-webkit-scrollbar-thumb {
    background-color: #EFEFF1;
}
/*Firefox*/
.card-container {
    scrollbar-width: auto;          /* "auto" or "thin" */
    scrollbar-color: #EFEFF1 #141414;   /* scroll thumb and track */
}