.show-more {
    overflow: hidden;
    text-align: center;
    font-size: 0.85em;
    margin-top: 1rem;
}
.show-more:last-of-type {
    margin-bottom: 4rem;
}
.show-more:before, .show-more:after {
    background-color: #464649;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.show-more:before {
    right: 0.5rem;
    margin-left: -50%;
}
.show-more:after {
    left: 0.5rem;
    margin-right: -50%;
}
.show-more-button {
    background-color: transparent;
    color: #EFEFF1;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 1px transparent solid;
    border-radius: 5%;
    padding: 0.4rem 0.75rem 0.4rem 0.75rem;
    transition: 0.5s ease-in-out;
}
.show-more-button span {
    vertical-align: top;
    text-align: center;
    padding-left: 0.5rem;
}
.show-more-button:hover {
    background-color: #3A3A3D;
}
.show-more-button:focus {
    background-color: #3A3A3D;
    box-shadow: none;
    border: none;
}