.navbarHeader {
    text-align: center;
}
.linkLeft {
    text-align:left;
    left:10px;
}
.linkRight {
    text-align:right;
    right:10px;
}
.menuList {
    margin:20px;
}
.descriptionArea {
    margin:20px;
}
p {
    text-indent:30px;
}
.reservationArea {
    margin:20px;
}
.infoArea {
    margin:20px;
}
.resInputSpot {
    margin:10px;
}
input{
    text-align:center;
}
